@font-face {
  font-family: "Open sans";
  font-weight: 400 800;
  src: url("~fonts/font-files/Open_Sans/open-sans-variable-font-wdth-wght.ttf") format("truetype");
}

@font-face {
  font-family: "Open sans";
  font-weight: 400;
  font-style: italic;
  src: url("~fonts/font-files/Open_Sans/open-sans-italic-variable-font-wdth-wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  src: url("~fonts/font-files/Cormorant_Garamond/cormorant-garamond-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 800;
  src: url("~fonts/font-files/Cormorant_Garamond/cormorant-garamond-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Days One";
  font-weight: 400 800;
  src: url("~fonts/font-files/Days_One/days-one-regular.ttf") format("truetype");
}

@font-face {
  font-family: Merriweather;
  font-weight: 400;
  src: url("~fonts/font-files/Merriweather/merriweather-regular.ttf") format("truetype");
}

@font-face {
  font-family: Merriweather;
  font-weight: 800;
  src: url("~fonts/font-files/Merriweather/merriweather-bold.ttf") format("truetype");
}
