@font-face {
  font-family: "Open sans";
  font-weight: 400 800;
  src: url("~fonts/font-files/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Open sans";
  font-weight: 400;
  font-style: italic;
  src: url("~fonts/font-files/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  src: url("~fonts/font-files/Cormorant_Garamond/CormorantGaramond-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 800;
  src: url("~fonts/font-files/Cormorant_Garamond/CormorantGaramond-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Days One";
  font-weight: 400 800;
  src: url("~fonts/font-files/Days_One/DaysOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Merriweather;
  font-weight: 400;
  src: url("~fonts/font-files/Merriweather/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Merriweather;
  font-weight: 800;
  src: url("~fonts/font-files/Merriweather/Merriweather-Bold.ttf") format("truetype");
}
